html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #282828;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section:nth-child(2) {
  flex: 1;
}

.section:first-child,
.section:last-child {
  flex: 0 0 auto;
  padding: 20px;
}

.h1 {
  font-size: 54px;
  font-family: 'Roboto', sans-serif;
  color: transparent;
  background: linear-gradient(to right, #FFFFFF 0%, #FF6600 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 100px;
}

.text-muted {
  color: #999999 !important;
}
